In [3]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_log_error

In [21]:
momer_market_snapshot = pd.read_csv('mower_market_snapshot.csv', delimiter=";")
momer_market_snapshot

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [18]:
momer_market_snapshot.loc[:,['id', 'attractiveness']].head(5)

      id  attractiveness
0  18377        0.650648
1  19363        0.699792
2  19641        0.632129
3  18728        0.810730
4  18722        0.757614

In [50]:
# Trie du DataFrame
momer_market_snapshot.sort_values(by='prod_cost', ascending=False, na_position='first').head(30)

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
107,31.019904,0.038149,19522,658.116184,411.087712,NaN,auto-portee,Low,3 ans.,0.007505,0.767814
135,23.340049,0.039023,19596,726.196516,396.773981,NaN,auto-portee,Medium,3ans,0.006937,0.709674
170,34.857361,0.114097,18964,241.552664,72.970497,NaN,electrique,Low,2 anss,0.003039,0.791921
232,41.875278,0.096177,18736,291.932051,891.665482,NaN,electrique,Medium,2_anss,0.002167,0.564682
280,33.383391,0.091738,18359,260.868096,869.049664,NaN,electrique,Low,2 ans,0.002675,0.696976
331,35.137522,0.093361,19251,262.668491,77.213051,NaN,electrique,Low,2_ans.,0.002158,0.562313
471,44.813757,0.102862,18379,259.776821,72.035083,NaN,electrique,Medium,2 ans,0.002886,0.751908
607,62.926054,0.228961,18806,66.590674,843.474741,NaN,essence,Low,1 an,0.001026,0.541218
711,50.760451,0.275969,19381,60.069105,401.325676,NaN,essence,Low,1_an,0.001170,0.617490
732,39.691240,0.227008,18535,61.127369,389.408396,NaN,essence,Medium,1 ans,0.000978,0.515936
795,59.270658,0.201919,19399,60.991972,397.807476,NaN,essence,Low,1_ans,0.001421,0.749497
804,44.467231,0.191641,19038,65.094740,861.597824,NaN,essence,Medium,1_ans,0.000975,0.514259
815,74.890396,0.217977,18739,60.409239,833.424852,NaN,essence,Low,1 an,0.001615,0.851886
843,72.452836,0.166651,18792,63.496297,398.305604,NaN,essence,Low,1 an,0.001240,0.654296
845,43.941280,0.249715,19365,61.455882,905.390344,NaN,essence,Medium,1_ans,0.001362,0.718510
934,59.048087,0.233942,18874,64.523335,841.636652,NaN,essence,Low,1ans,0.001217,0.642085
1021,50.763299,0.215908,19234,60.301489,347.511767,NaN,essence,Low,1ans,0.001169,0.616570
1105,76.363347,0.211185,19224,64.957288,832.840825,NaN,essence,Low,1 an.,0.001245,0.656965
1223,46.611471,0.239549,19160,59.147640,876.032341,unknown,essence,Low,1an.,0.001378,0.726867
1357,57.936910,0.232674,18329,59.878009,381.677052,unknown,essence,Low,1_ans,0.001188,0.626693
166,39.703060,0.073723,18870,248.010000,70.271198,unknown,electrique,Low,2 ans,0.002607,0.679325
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1091,43.616434,0.202734,18651,60.221030,895.108605,unknown,essence,Low,1_an,0.001103,0.581745
983,52.234773,0.253485,18503,68.359089,392.653716,unknown,essence,Hight,1ans,0.000989,0.521938
981,64.607864,0.247584,18387,59.588596,878.615866,unknown,essence,Medium,1an.,0.001736,0.915787
569,44.771225,0.241101,18411,60.565166,367.821566,unknown,essence,Low,1an,0.001190,0.627962
923,67.500998,0.196182,19191,63.859993,885.550319,unknown,essence,Low,1 an.,0.001234,0.651009
154,26.317938,0.098641,19642,272.038610,865.688164,unknown,electrique,Low,2_ans.,0.001632,0.425166
479,36.259976,0.105738,18620,288.507312,74.897367,unknown,electrique,Low,2 ans.,0.001733,0.451514
100,28.029561,0.040033,18993,746.108663,350.216029,unknown,auto-portee,Hight,3anss,0.007847,0.802719

In [24]:
#
momer_market_snapshot.isnull().sum(axis=0)

capacity           0
failure_rate       0
id                 0
margin             0
price              0
prod_cost         18
product_type       0
quality            0
warranty           0
market_share       0
attractiveness     0
dtype: int64

In [44]:
#momer_market_snapshot.sort_values(by='prod_cost', ascending=False).head(100)
momer_market_snapshot["prod_cost"].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
1394    False
1395    False
1396    False
1397    False
1398    False
Name: prod_cost, Length: 1399, dtype: bool

In [51]:
momer_market_snapshot["prod_cost"]

0       195.03551928211797
1       151.31809934886763
2       178.13731921134948
3       162.82946157588628
4       141.48693796090603
               ...
1394    11.498540481074583
1395    11.380588736668567
1396               unknown
1397     9.794196773761458
1398    10.696216086742934
Name: prod_cost, Length: 1399, dtype: object

In [57]:
momer_market_snapshot['prod_cost'].str.contains('unknow')

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: prod_cost, dtype: object

In [36]:
momer_market_snapshot.fillna(momer_market_snapshot['prod_cost'].mean())

TypeError: can only concatenate str (not "int") to str

In [17]:
# RMSLE pour l'évaluation
def RMSLE(y_true:np.ndarray, y_pred:np.ndarray) -> np.float64:
    """
        The Root Mean Squared Log Error (RMSLE) metric 
        
        :param y_true: The ground truth labels given in the dataset
        :param y_pred: Our predictions
        :return: The RMSLE score
    """
    n = len(y_true)
    msle = np.mean([(np.log(y_pred[i] + 1) - np.log(y_true[i] + 1)) ** 2.0 for i in range(n)])
    return np.sqrt(msle)