In [3]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_log_error

In [14]:
momer_market_snapshot = pd.read_csv('mower_market_snapshot.csv', delimiter=";")

         id  attractiveness
0     18377        0.650648
1     19363        0.699792
2     19641        0.632129
3     18728        0.810730
4     18722        0.757614
...     ...             ...
1394  18451        0.513126
1395  18663        0.547739
1396  19169        0.655622
1397  18946        0.867537
1398  19017        0.538969

[1399 rows x 2 columns]

In [2]:
# RMSLE pour l'évaluation du modèle
def RMSLE(y_true:np.ndarray, y_pred:np.ndarray) -> np.float64:
    """
        The Root Mean Squared Log Error (RMSLE) metric 
        
        :param y_true: The ground truth labels given in the dataset
        :param y_pred: Our predictions
        :return: The RMSLE score
    """
    n = len(y_true)
    msle = np.mean([(np.log(y_pred[i] + 1) - np.log(y_true[i] + 1)) ** 2.0 for i in range(n)])
    return np.sqrt(msle)

In [16]:
momer_market_snapshot.loc[:,['id', 'attractiveness']].head(5)

      id  attractiveness
0  18377        0.650648
1  19363        0.699792
2  19641        0.632129
3  18728        0.810730
4  18722        0.757614

In [ ]:
# np.sqrt(mean_squared_log_error(y_test, predictions))