In [1]:
import pandas as pd
import numpy as np

In [15]:
series = pd.Series([1,2,3,4,5, np.nan, "a string", 6])

print(series)

0           1
1           2
2           3
3           4
4           5
5         NaN
6    a string
7           6
dtype: object

In [17]:
# De la serie au Dataframe
df = pd.DataFrame(np.array([1,2,3,4,5,6]).reshape(2,3))
df

   0  1  2
0  1  2  3
1  4  5  6

In [18]:
df.dtypes

0    int64
1    int64
2    int64
dtype: object

In [19]:
# Parametrer le dataframe
df = pd.DataFrame(np.array([1,2,3,4,5,6]).reshape(2,3), columns=list('ABC'), index=list('XY'))

df

   A  B  C
X  1  2  3
Y  4  5  6

In [20]:
# Option d'affichage du dataFrame
df2 = pd.DataFrame(np.arange(1,7501).reshape(500,15))
df2.head(2)

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15
1  16  17  18  19  20  21  22  23  24  25  26  27  28  29  30